.DS_Store
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
**/android/local.properties
*.pdf
*.cc
*.cmake
**/macos/Flutter/ephemeral/
**/linux/flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
Generated*.*
generated*.*
.idea/