.DS_Store
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
**/android/local.properties
*.cc
*.cmake
**/**/.dart_tool/version
**/**/.dart_tool/package_config.json
**/**/.dart_tool/package_config_subset
**/**/linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux
